.navbar-brand img {
    max-width: 75px;
}

body {
    min-height: 100vh;
    background-color: lightgray;
}

header {
    background-color: white;
}

footer {
    background-color: black;
}

main {

}