<%- include('partials/header.ejs')%>
<main>
    <div class="container my-5">
        <div class="p-5 text-center rounded-3 bg-body-tertiary">
            <h1 class="text-body-emphasis">Error <%= err.status %></h1>
            <p class="col-lg-8 mx-auto fs-5 text-muted"><%= err.message %></p>
        </div>
    </div>
</main>
<%- include('partials/footer.ejs')%>