<%- include('partials/header.ejs')%>
<main>
    <div class="container my-5">
        <div class="p-5 text-center rounded-3 bg-body-tertiary">
            <img src="images/aeroswap_logo_freelogodesign_164x164.png" alt="AeroSwap Logo" class="rounded-circle">
            <h1 class="text-body-emphasis">Welcome to AeroSwap!</h1>
            <p class="col-lg-8 mx-auto fs-5 text-muted">AeroSwap is your one-stop shop for buying and selling aircraft
                of all kinds!</p>
            <div class="d-inline-flex gap-2 mb-5">
                <a href="items.ejs" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill">Browse&nbsp;<i
                        class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</main>
<%- include('partials/footer.ejs')%>