<nav class="navbar navbar-expand-sm shadow-lg">
    <a href="index.html" class="navbar-brand ms-2"><img src="images/aeroswap_logo_freelogodesign_164x164.png"
                                                        alt="AeroSwap Logo"></a>
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="items.html" class="nav-link">Browse</a></li>
            <li class="nav-item"><a href="new.html" class="nav-link">Sell</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Login</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Register</a></li>
        </ul>
        <form class="d-flex" role="search" action="#">
            <input class="form-control me-2" type="search" placeholder="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>